<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Keys related to your Azure Search instance-->
    <add key="SearchServiceName" value="" />
    <add key="SearchServiceApiKey" value="" />
    <add key="SearchServiceQueryKey" value="" />
    <!--Keys related to your Cognitive Services account-->
    <add key="CognitiveServicesAccountKey" value="" />
    <!--Keys related to your storage account for the image-store custom skill-->
    <add key="BlobStorageAccountConnectionString" value="" />
    <!--Keys related to your Azure Web App instance-->
    <add key="AzureWebAppSiteName" value="c" />
    <add key="AzureWebAppUsername" value="" />
    <add key="AzureWebAppPassword" value="" />
    <!--Keys related to your Azure Function instance-->
    <add key="AzureFunctionSiteName" value="" />
    <add key="AzureFunctionUsername" value="" />
    <add key="AzureFunctionPassword" value="" />
    <!--Location of sample Capone file documents that we are providing to you.-->
    <!--<add key="CAPFilesBlobStorageAccountConnectionString" value="SharedAccessSignature=st=2018-05-01T17%3A30%3A00Z&amp;se=2019-05-01T17%3A30%3A00Z&amp;sp=rl&amp;sv=2017-04-17&amp;sr=c&amp;sig=yoU5d8mK6AamgqHjUkIMx4qTN%2BhHnL9%2BSfcdrICg%2BI4%3D;BlobEndpoint=https://azscapfiles.blob.core.windows.net/" /> -->
    <add key="CAPFilesBlobStorageAccountConnectionString" value="" />
    <add key="CAPFilesBlobContainerName" value="capfiles" />
    <!--Configurable names, feel free to change these if you like-->
    <add key="DataSourceName" value="capdatasource" />
    <add key="IndexName" value="capindex" />
    <add key="SkillsetName" value="capskillset" />
    <add key="IndexerName" value="capindexer" />
    <add key="SynonymMapName" value="cryptonyms" />
    <add key="BlobContainerNameForImageStore" value="imagestoreblob" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>